.header_slider{
    background: url('https://www.oregonlive.com/resizer/BkdF_6J9nB2nJCs58nLSgs48RVg=/800x0/smart/arc-anglerfish-arc2-prod-advancelocal.s3.amazonaws.com/public/UEB4P4KM5VGTPK66GVCMFABNKE.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}